:root {
    --green: #42e2b8;
    --blue: #29526d;
    --yellow: #aa7839;
    --orange: #aa5639;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --grey: rgb(128, 128, 128);
    --primary: #f7c2a7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background-color: var(--primary);
}


/* inicio header */

.header__logo {
    font-size: 3.0rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__logo:hover {
    color: rgba(0, 0, 0, 0.747);
    transition: 300ms;
}

.header__nav--ul {
    padding: 0px;
}

.header__nav--li {
    list-style: none;
    margin-right: 1.0rem;
}

.header__nav--li:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.header__nav--a {
    text-decoration: none;
    color: var(--grey);
}

.header__nav--a:hover {
    color: var(--black);
}

.header__button--button {
    background-color: var(--green);
    border-radius: 3.0rem;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__button--button:hover {
    background-color: #42e2b7b2;
    transform: scale(1.1);
    transition: 400ms;
}

.twitter-icons {
    font-size: 4.0rem;
    color: var(--black);
    margin-top: -10px;
    color: var(--green);
}

.twitter-icons i {
    border: .3rem solid black;
    height: 4.5rem;
}

.twitter-icons i:hover {
    color: #42e2b7b2;
    transform: scale(1.2);
    transition: 400ms;
}


/* fin header */


/* inicio section presentation */

.presentation__heading2 {
    font-size: 5.0rem;
}

.presentation__heading1 {
    font-size: 6.0rem;
    font-weight: bold;
}

.presentation__paragraph {
    font-size: 1.7rem;
}


/* fin section presentation */


/* inicio section experiencia */

.section__experience--paragraph {
    margin-top: 20rem;
    font-size: 3.5rem;
}

.section__experience--arrow {
    font-size: 6rem;
    margin-bottom: 15rem;
}


/* fin section experiencia */


/*inicio primer proyecto */

.project__heading2 {
    background-color: var(--black);
    width: 22rem;
    color: var(--green);
    border: outset .2rem;
}

.project__button--see {
    background-color: var(--green);
    border-radius: 1.5rem;
    border: 0.2rem solid black;
    box-shadow: rgba(66, 226, 184, 0.25) 0px 54px 55px, rgba(66, 226, 184, 0.12) 0px -12px 30px, rgba(66, 226, 184, 0.12) 0px 4px 6px, rgba(66, 226, 184, 0.17) 0px 12px 13px, rgba(66, 226, 184, 0.09) 0px -3px 5px;
    padding: 0.3rem 1.5rem;
}

.project__button--see:hover {
    background-color: #42e2b7c2;
    transform: scale(1.1);
    transition: 300ms;
}

.project__button--github {
    background-color: var(--primary);
    border-radius: 1.5rem;
    padding: 0.3rem 1.5rem;
}

.project__button--github:hover {
    background-color: #fce4d883;
    transform: scale(1.1);
    transition: 300ms;
}


/* fin primer proyecto */


/* inicio card */

.card {
    margin-top: 8.0rem;
    background-color: #f5dccf4f;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
    border-radius: 1.0rem;
    padding: 0rem 4.0rem 3.0rem 4.0rem;
}

.card__img {
    background-color: black;
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 2.0rem;
    margin: 4.0rem 0rem 1.5rem 0rem;
    margin-left: auto;
    margin-right: auto;
}

.card__paragraph {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}

.card__footer {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}


/* fin card */


/* inicio project2 */

.project:nth-of-type(3) {
    margin-top: 10rem;
}

.flex {
    margin-top: 10rem;
    margin-left: 3.0rem;
}

.project__img {
    border-radius: 2rem;
    width: 30rem;
    height: 35rem;
    background-color: black;
}


/* fin project2 */