:root {
    --green: #42e2b8;
    --blue: #29526d;
    --yellow: #aa7839;
    --orange: #aa5639;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --grey: rgb(128, 128, 128);
    --primary: #f7c2a7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background-color: var(--primary);
}


/* inicio header */

.header__logo {
    font-size: 3.0rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__logo:hover {
    color: rgba(0, 0, 0, 0.747);
    transition: 300ms;
}

.header__nav--ul {
    padding: 0px;
}

.header__nav--li {
    list-style: none;
    margin-right: 10px;
}

.header__nav--li:hover {
    transform: scale(1.1);
    transition: 500ms;
}

.header__nav--a {
    text-decoration: none;
    color: var(--grey);
}

.header__nav--a:hover {
    color: var(--black);
}

.header__button--button {
    background-color: var(--green);
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__button--button:hover {
    background-color: #42e2b7b2;
    transform: scale(1.1);
    transition: 400ms;
}

.twitter-icons {
    font-size: 4.0rem;
    color: var(--black);
    margin-top: -10px;
    color: var(--green);
}

.twitter-icons i {
    border: 3px solid black;
    height: 45px;
}

.twitter-icons i:hover {
    color: #42e2b7b2;
    transform: scale(1.2);
    transition: 400ms;
}


/* fin header */


/* inicio section presentation */

.presentation__heading2 {
    font-size: 5.0rem;
}

.presentation__heading1 {
    font-size: 6.0rem;
    font-weight: bold;
}

.presentation__paragraph {
    font-size: 1.7rem;
}


/* fin section presentation */


/* inicio section experiencia */

.section__experience--paragraph {
    margin-top: 200px;
    font-size: 35px;
}

.section__experience--arrow {
    font-size: 60px;
    margin-bottom: 150px;
}


/* fin section experiencia */


/*inicio primer proyecto */

.project__heading2 {
    background-color: var(--black);
    width: 220px;
    color: var(--green);
    border: outset 2px;
}

.project__button--see {
    background-color: var(--green);
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: rgba(66, 226, 184, 0.25) 0px 54px 55px, rgba(66, 226, 184, 0.12) 0px -12px 30px, rgba(66, 226, 184, 0.12) 0px 4px 6px, rgba(66, 226, 184, 0.17) 0px 12px 13px, rgba(66, 226, 184, 0.09) 0px -3px 5px;
}

.project__button--see:hover {
    transform: scale(1.1);
    transition: 300ms;
}


/* fin primer proyecto */